# #Streamlit 제작 노트북: 두 좌표간의 km 구하기 함수

In [17]:
import math

def haversine(lat1, lon1, lat2, lon2):
    # 위도와 경도를 라디안으로 변환
    lat1, lon1, lat2, lon2 = map(math.radians, [lat1, lon1, lat2, lon2])

    # 위도와 경도 차이
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Haversine 공식
    a = math.sin(dlat/2)**2 + math.cos(lat1) * math.cos(lat2) * math.sin(dlon/2)**2
    c = 2 * math.asin(math.sqrt(a))

    # 지구 반지름 (킬로미터)
    R = 6371.0

    # 결과 거리
    distance = R * c

    return distance

# 사용 예시
lat1, lon1 = (37.514575, 127.0495556) # 사용자 위치
lat2, lon2 = (37.517235, 127.047325) # 빵집 위치

distance = haversine(lat1, lon1, lat2, lon2)
print(f"두 지점 사이의 거리는 {distance}km 입니다.")

두 지점 사이의 거리는 0.355231522703946km 입니다.

# Streamlit test code: 원하는 텍스트 추출

In [ ]:
import pandas as pd
text_file = pd.read_csv('streamlit_text(04.23).csv')
mode_file = pd.read_csv('streamlit_mode(04.23).csv')

In [58]:
Review_text = text_file[['Store','Review_text','sentiment']]
cond3 = (Review_text['sentiment']==1)
cond4 = (Review_text['sentiment']==0)
Review_text['Review_text'][cond3]

2                처음에는 라떼가. 맛있었는데ᆢ왜맛이 변한거죠???다시 원래대로 만들어주세요
12       충무로점 화장실 없대서 어디 쓰면 되냐 했더니 안내할 수 있는 화장실 없다함ㅋ 너무...
24       뭔가 내부가 어수선한 느낌이에요 .. 에어컨 시원하고좋았지만 화장실이 없어서 .. ...
26       매번 느끼는거지만 커피는 맛있는데 일하시는분들 너 무 느긋합니다. 오전에 파이3개랑...
29       아메리카노가 무척 저렴한 카페 ~ 날이 더워 잠깐 방문한건데.. 매장에 화장실이 없...
                               ...
15183    맛에 관한 후기에 앞서 확실히 친절함은 부족했습니다. 빵 5개를 샀는데 빵만 포장해...
15184    단팥빵은 맛나는데  오전 근무자가 빵 맛을 맛없게 만드네요 왕불친절하고 인사도 없고...
15186    룰렛 이벤트 해놓고 당첨되니까 모르는 척 안줌 ㅋㅋ 슬쩍 말해도 모른척 하길래 추럽...
15190              단팥크림빵은 정말 맛있습니다 그런데 사장으로 보이는 분…불친절 절레절레
15205    이런 쿠키가 새로 생겨서 넘 좋아요.. 뉴욕 르뱅쿠키 를 여기서 맛볼 수 있다니요....
Name: Review_text, Length: 1462, dtype: object

In [3]:
mode_file[mode_file['cluster']==0]['Store']

0         5센소커피충무로점
1      79파운야드을지로3가점
3              Cre8
5      KSPOT수국전망대카페
7            가배도시청점
           ...
202             혜민당
203             홍밀밀
205             화수분
206         화수분약수본점
207            황소쿠키
Name: Store, Length: 148, dtype: object

In [41]:
random_store = mode_file[mode_file['cluster'] == 0]['Store'].sample(n=9)

In [42]:
random_store.iloc[0]

'성원푸드몰'

In [43]:
random_store.iloc[1]

'와플대학명보사거리캠퍼스'

In [47]:
store_name = [random_store.iloc[i] for i in range(9)]

In [48]:
store_name[0]

'성원푸드몰'

In [50]:
text_file[:3]

,Unnamed: 0,Store,cluster,cluster_labeling,Review_text,Review_score,sentiment,Address,X,Y,행정동명
0,0,5센소커피충무로점,0,빵 맛이 좀 그래요...,여름엔 아아지!!!,4.3,1,서울 중구 퇴계로27길 35 1층,126.991228,37.562741,필동
1,1,5센소커피충무로점,2,가성비 맛집이에요!,커피 맛있었어요~! 키오스크 주문이라 편리하고 레몬쿠키도 촉촉하니 새콤달콤 했어요~!,4.3,1,서울 중구 퇴계로27길 35 1층,126.991228,37.562741,필동
2,2,5센소커피충무로점,0,빵 맛이 좀 그래요...,처음에는 라떼가. 맛있었는데ᆢ왜맛이 변한거죠???다시 원래대로 만들어주세요,4.3,0,서울 중구 퇴계로27길 35 1층,126.991228,37.562741,필동

In [33]:
latlon = text_file.groupby('Store').first()[['X', 'Y']]
latlon

                       X           Y
Store
5센소커피충무로점     126.991228   37.562741
79파운야드을지로3가점  126.989468   37.565645
AboutBagel    126.983155   37.564582
Cre8          126.985245   37.567375
ERICKAYSER    126.978128   37.564656
...                  ...         ...
홍밀밀           126.986829   37.563298
화미가신세계백화점본점   126.980768   37.560354
화수분            37.553381  127.009485
화수분약수본점       127.009485   37.553381
황소쿠키          126.966234   37.560416

[208 rows x 2 columns]

In [34]:
cond1 = (latlon.index == 'Cre8')
latlon[cond1].iloc[0].values[0]

126.9852451

In [4]:
information = text_file.groupby('Store').first()[['Review_score','Address','행정동명']]
cond1 = (information.index == 'Cre8')
information[cond1].iloc[0].values[0] # 평점, 주소, 행정동

4.3

In [6]:
df = pd.DataFrame({
    '이름': [information.index[0]],
    '평점': [information[cond1].iloc[0].values[0]],
    '행정동': [information[cond1].iloc[0].values[2]],
    '주소': [information[cond1].iloc[0].values[1]]
})
df

          이름   평점 행정동                            주소
0  5센소커피충무로점  4.3  명동  서울 중구 을지로5길 26 미래에셋 센터원 지하1층

In [12]:
Review_text = text_file[['Store','Review_text']]
cond1 = (Review_text['Store'] == '5센소커피충무로점')
Review_text[cond1][['Review_text']]

# 라벨링 후 코드 추가

In [1]:
import pandas as pd

In [2]:
text_file = pd.read_csv("streamlit_cluster(04.24).csv")

In [3]:
latlon = text_file.groupby('Store').first()[['X', 'Y']]
latlon

                       X           Y
Store
5센소커피충무로점     126.991228   37.562741
79파운야드을지로3가점  126.989468   37.565645
AboutBagel    126.983155   37.564582
Cre8          126.985245   37.567375
ERICKAYSER    126.978128   37.564656
...                  ...         ...
홍밀밀           126.986829   37.563298
화미가신세계백화점본점   126.980768   37.560354
화수분            37.553381  127.009485
화수분약수본점       127.009485   37.553381
황소쿠키          126.966234   37.560416

[208 rows x 2 columns]

In [15]:
cond5 = (text_file['cluster']==0)
text_file[cond5]

,Store,cluster,cluster_labeling,Review_text,Review_score,sentiment,Address,X,Y,행정동명
0,5센소커피충무로점,0,추천 제외 매장,여름엔 아아지!!!,4.3,1,서울 중구 퇴계로27길 35 1층,126.991228,37.562741,필동
2,5센소커피충무로점,0,추천 제외 매장,처음에는 라떼가. 맛있었는데ᆢ왜맛이 변한거죠???다시 원래대로 만들어주세요,4.3,0,서울 중구 퇴계로27길 35 1층,126.991228,37.562741,필동
3,5센소커피충무로점,0,추천 제외 매장,아메리카노 와인 아이스 테이크아웃.더위를 날려 주는 아아,4.3,1,서울 중구 퇴계로27길 35 1층,126.991228,37.562741,필동
5,5센소커피충무로점,0,추천 제외 매장,가성비 내용물 모두 최고에요~양도 많아서 너무 좋아요~,4.3,1,서울 중구 퇴계로27길 35 1층,126.991228,37.562741,필동
6,5센소커피충무로점,0,추천 제외 매장,아까운 창가자리좌석 더 만들어주세요,4.3,1,서울 중구 퇴계로27길 35 1층,126.991228,37.562741,필동
...,...,...,...,...,...,...,...,...,...,...
15217,황소쿠키,0,추천 제외 매장,쿠키 속이 알차요,4.4,1,서울 중구 서소문로 38 126호 황소쿠키,126.966234,37.560416,중림동
15221,황소쿠키,0,추천 제외 매장,더운날씨에 젤라또 먹고싶어서 가봤는데쫀득하고 맛있었어요👍,4.4,1,서울 중구 서소문로 38 126호 황소쿠키,126.966234,37.560416,중림동
15222,황소쿠키,0,추천 제외 매장,원재료가 좋아서 쿠키 맛이 좋아요종류도 다양하고 선물용으로 좋아요^^,4.4,1,서울 중구 서소문로 38 126호 황소쿠키,126.966234,37.560416,중림동
15225,황소쿠키,0,추천 제외 매장,사장님 자매가 함께 운영한다는 유기농쿠키집이랍니다. 재료가 큼직하고 진하기가 ......,4.4,1,서울 중구 서소문로 38 126호 황소쿠키,126.966234,37.560416,중림동
15226,황소쿠키,0,추천 제외 매장,쿠키 가 11가지 종류가 있어요~~사장님 친절하시고 쿠키 잘먹겠습니다!,4.4,1,서울 중구 서소문로 38 126호 황소쿠키,126.966234,37.560416,중림동

In [14]:
information = text_file[cond5].groupby('Store').first()[['Review_score','Address','행정동명','cluster_labeling']]
information

,Review_score,Address,행정동명,cluster_labeling
Store,,,,
5센소커피충무로점,4.30,서울 중구 퇴계로27길 35 1층,필동,추천 제외 매장
79파운야드을지로3가점,4.30,서울 중구 삼일대로10길 36 1층 101호,을지로동,추천 제외 매장
AboutBagel,4.30,"서울 중구 명동7가길 22 1층, 2층",명동,추천 제외 매장
Cre8,4.30,서울 중구 을지로5길 26 미래에셋 센터원 지하1층,명동,추천 제외 매장
ERICKAYSER,4.42,서울 중구 소공로 119,소공동,추천 제외 매장
...,...,...,...,...
혜민당,4.40,서울 중구 삼일대로12길 16-9,명동,추천 제외 매장
홍밀밀,4.40,서울 중구 명동길 74 명동성당 가톨릭회관 신관 B-105호,명동,추천 제외 매장
화수분,3.80,서울 중구 다산로 103,다산동,추천 제외 매장
화수분약수본점,2.60,서울 중구 다산로 103 (신당동),다산동,추천 제외 매장
황소쿠키,4.40,서울 중구 서소문로 38 126호 황소쿠키,중림동,추천 제외 매장

In [35]:
information = text_file.groupby('Store').first()[['Review_score','Address','행정동명','cluster_labeling']]
information

,Review_score,Address,행정동명,cluster_labeling
Store,,,,
5센소커피충무로점,4.30,서울 중구 퇴계로27길 35 1층,필동,추천 제외 매장
79파운야드을지로3가점,4.30,서울 중구 삼일대로10길 36 1층 101호,을지로동,넓고 쾌적한 매장
AboutBagel,4.30,"서울 중구 명동7가길 22 1층, 2층",명동,소문난 빵맛집
Cre8,4.30,서울 중구 을지로5길 26 미래에셋 센터원 지하1층,명동,빵과 음료 맛집
ERICKAYSER,4.42,서울 중구 소공로 119,소공동,소문난 빵맛집
...,...,...,...,...
홍밀밀,4.40,서울 중구 명동길 74 명동성당 가톨릭회관 신관 B-105호,명동,추천 제외 매장
화미가신세계백화점본점,4.40,서울 중구 퇴계로 77 신관 지하 1층,회현동,소문난 빵맛집
화수분,3.80,서울 중구 다산로 103,다산동,추천 제외 매장
화수분약수본점,2.60,서울 중구 다산로 103 (신당동),다산동,추천 제외 매장
황소쿠키,4.40,서울 중구 서소문로 38 126호 황소쿠키,중림동,추천 제외 매장

In [16]:
Review_text = text_file[['Store','Review_text','sentiment','cluster']]
Review_text

,Store,Review_text,sentiment,cluster
0,5센소커피충무로점,여름엔 아아지!!!,1,0
1,5센소커피충무로점,커피 맛있었어요~! 키오스크 주문이라 편리하고 레몬쿠키도 촉촉하니 새콤달콤 했어요~!,1,3
2,5센소커피충무로점,처음에는 라떼가. 맛있었는데ᆢ왜맛이 변한거죠???다시 원래대로 만들어주세요,0,0
3,5센소커피충무로점,아메리카노 와인 아이스 테이크아웃.더위를 날려 주는 아아,1,0
4,5센소커피충무로점,매장이 고급스럽고 깔끔해요커피도 5가지중에 고를수 있고 가격도 저렴한데 맛은 진짜 ...,1,5
...,...,...,...,...
15222,황소쿠키,원재료가 좋아서 쿠키 맛이 좋아요종류도 다양하고 선물용으로 좋아요^^,1,0
15223,황소쿠키,종류별로 다 ~~맛있어요!,1,3
15224,황소쿠키,쿠키 너무 맛있고 크기대비 저렴한 편이고 사장님도 친절하시고 자주 방문하는 곳이에요!,1,1
15225,황소쿠키,사장님 자매가 함께 운영한다는 유기농쿠키집이랍니다. 재료가 큼직하고 진하기가 ......,1,0
15226,황소쿠키,쿠키 가 11가지 종류가 있어요~~사장님 친절하시고 쿠키 잘먹겠습니다!,1,0

In [59]:
# 커서 갖다대면 자료타입 알려준다. > max 함수로 flag=False하기
what = text_file[text_file['cluster'] == 0]['Store'].sample(n=9)
what

6286     서울신라호텔패스트리부티크
10097           잇츠크리스피
947             그라츠과자점
5030        브레댄코동대입구역점
2221        디어스베이커리신당점
16           5센소커피충무로점
5804                빵쌤
5692           빵굼터약수동점
12774              태극당
Name: Store, dtype: object

# 작동 시간 체크

In [25]:
import time

In [28]:
# 중복체크 1
counter = list(what.value_counts())
counter # max(counter): 1

[1, 1, 1, 1, 1, 1, 1, 1, 1]

In [31]:
# 중복체크 2
from collections import Counter
counter = Counter(what)
max_counter = list(counter.values())
max(max_counter)

1

In [30]:
# 시간체크 - 버전1
start_time = time.perf_counter()
list(what.value_counts())
end_time = time.perf_counter()

result_time = end_time-start_time
result_time

0.0004327000060584396

In [26]:
# 시간체크 (폐기)
start_time = time.time()
from collections import Counter
counter = Counter(what)
list(counter.values())
end_time = time.time()

result_time = end_time-start_time
result_time

0.0

In [27]:
# 시간체크 - 버전2 >>> 더 빠르다.
start_time = time.perf_counter()
from collections import Counter
counter = Counter(what)
list(counter.values())
end_time = time.perf_counter()

result_time = end_time-start_time
result_time

0.0001047999830916524

# 다시 코드 작성

In [12]:
# 특성 내용 출력하기
cond5 = (text_file['cluster'] == 0)
cond6 = (text_file['Store'] == '5센소커피충무로점')
text_file[cond5&cond6]['cluster_labeling'][0]

'추천 제외 매장'

In [ ]:
# 거리정보 입력받아 추천하기
lat1, lon1 = st.session_state.latlon # 사용자 위치
lat2, lon2 = (37.517235, 127.047325) # 임시 빵집 위치

distance = haversine(lat1, lon1, lat2, lon2)
print(f"두 지점 사이의 거리는 {distance}km 입니다.")

In [63]:
latlon2 = text_file[text_file['cluster']==1].groupby('Store').first()[['Y', 'X']]
latlon2

                       Y           X
Store
5센소커피충무로점      37.562741  126.991228
79파운야드을지로3가점   37.565645  126.989468
AboutBagel     37.564582  126.983155
Cre8           37.567375  126.985245
ERICKAYSER     37.564656  126.978128
...                  ...         ...
홍밀밀            37.563298  126.986829
화미가신세계백화점본점    37.560354  126.980768
화수분           127.009485   37.553381
화수분약수본점        37.553381  127.009485
황소쿠키           37.560416  126.966234

[179 rows x 2 columns]

In [64]:
latlon2.index[178]

'황소쿠키'

In [65]:
tuple(latlon2.iloc[178])

(37.5604164, 126.9662337)

In [74]:
dis500 = []
dis001 = []
for i in range(len(latlon2)):
    lat1, lon1 = (37.5604164, 126.9662337) # 사용자 위치 st.session_state.latlon
    lat2, lon2 = tuple(latlon2.iloc[i]) # 빵집 위치
    distance = haversine(lat1, lon1, lat2, lon2)
    if distance <= 0.50:
        dis500.append(latlon2.index[i])
    if distance <= 1: # elif말고 if로 중복허용
        dis001.append(latlon2.index[i])

In [90]:
dis500

['뀌숑', '이지바이충정로점', '해피해피브레드', '황소쿠키']

In [103]:
import random

# 리스트의 순서를 무작위로 섞기
random.shuffle(dis500)
dis500

['해피해피브레드', '뀌숑', '황소쿠키', '이지바이충정로점']

In [111]:
for i in range(0, 9, 3):
    print(i)

0
3
6

In [76]:
dis001

['가배도시청점',
 '뀌숑',
 '더하우스1932',
 '라운드앤드',
 '라운디드',
 '몬떼비서울서소문점',
 '북촌유기농밀명인단팥빵서울역점',
 '브릭샌드서울역점',
 '순화동빵집',
 '슈가플라이치즈케이크',
 '아우어베이커리숭례문점',
 '아이레커피',
 '아티제서울스퀘어',
 '얌얌브레드서울상공회의소점',
 '엘리스파이시청역점',
 '이지바이충정로점',
 '콜렉티보퍼시픽타워점',
 '태극당서울역광장점',
 '팀홀튼숭례문그랜드센트럴점',
 '해피해피브레드',
 '황소쿠키']

In [85]:
for i in range(0, len(dis500), 3):
    print(i)

0
3

In [ ]:
# 엘리스파이, 화수분 경위도 바뀜.